[submodule ".registry"]
	path = .registry
	url = https://github.com/matthewlavallee/matthewlavallee.r-universe.dev
	branch = HEAD
[submodule "cransays"]
	path = cransays
	url = https://github.com/lockedata/cransays
[submodule "glitter"]
	path = glitter
	url = https://github.com/lvaudor/glitter
[submodule "roblog"]
	path = roblog
	url = https://github.com/ropenscilabs/roblog
